
	<main class="container">
		<div id="eventRefresh">
	
			<section class="row offset" id="home">
				<article class="subcontainer offset-bot">
					<article class="center-section">
						<header>
							<h3 class="light-text">
								Organiser: <%= @events.organiser_name %> (<%= @events.organiser_email %>)
							</h3>
							<h3 class="light-text">Restaurant: {{ selectedRestaurant }}</h3>
							<h3 class="light-text">Website: {{ selectedRestaurantUrl }}</h3>
							<h3 class="light-text">Date: {{ selectedDate }}</h3>
						</header>
					</article>
				</article>
			</section>

			<section class="row offset lighter-background" id="where">
				<article class="subcontainer">
					<article class="center-section">
						<div class="service dynamic-height">
						<i class="glyphicon glyphicon-cutlery service-icon"></i>
						<h2 class="result-group">Restaurant</h2>
							<div class="bs-callout bs-callout-warning">
								<% (1..5).each do |i| %>
								<h4 class="dark-text result-indiv">
									<%= @events.attributes['name'+"%01d" % i ] %>
								<div class="btn-float-right">
								   <% [1, -1].each do |value| %>
								     <%= results_voteButton(value, i, "link") %>
								   <% end %>
									<button type="button" class="btn btn-default btn-sm" ng-click="selection('<%= @events.attributes['name'+"%01d" % i ] %>','<%= @events.attributes['link'+"%01d" % i ] %>', 'Restaurant')">Select
										<span id="SelectPlace<%= i %>" data-original-title="Select this place:" class="glyphicon glyphicon-check"></span>
									</button>
								</div>
								</h4>
								<% end %>
							</div>
						</div>
					</article>	
				</article>
			</section>

			<section class="row offset" id="when">
				<article class="subcontainer">
					<article class="center-section">
						<div class="service service-dark dynamic-height">
						<i class="glyphicon glyphicon-calendar service-icon"></i>
						<h2>Date and Time</h2>
							<div class="bs-callout bs-callout-warning">
								<% (1..3).each do |i| %>
								<h4 class="result-indiv">
								<%= @events.attributes['date'+"%01d" % i ] %>
								<div class="btn-float-right btn-dark-font">
								   <% [1, -1, 0].each do |value| %>
								     <%= results_voteButton(value, i, "date") %>
								   <% end %>
									<button type="button" class="btn btn-default btn-sm" ng-click="selection('<%= @events.attributes['date'+"%01d" % i ] %>','', 'Date')">Select
										<span id="SelectDate<%= i %>" data-original-title="Select this date:" class="glyphicon glyphicon-check"></span>
									</button>
								</div>
								</h4>
								<% end %>
							</div>
						</div>
					</article>	
				</article>
			</section>

			<section class="row offset lighter-background" id="invite">
				<article class="subcontainer">
					<article class="center-section">
						<div class="service dynamic-height" ng-init="results('<%= @events.id %>')">
							<i class="glyphicon glyphicon-ok service-icon"></i>
							<div>
							<h2>Event Summary</h2>
							<h3 class="dark-text">Restaurant: {{ selectedRestaurant }}</h3>
							<h3 class="dark-text">Website: {{ selectedRestaurantUrl }}</h3>
							<h3 class="dark-text">Date: {{ selectedDate }}</h3>
								<button type="button" class="btn btn-default btn-float-right btn-m" ng-click="confirmation('<%= @events.id %>')">Confirm Event
									<span id="ConfirmEvent" class="glyphicon glyphicon-check"></span>
								</button>
							</div>
						</div>
				</article>
			</section>
		</div>
	</main>