
			<main class="container">
			<div id="eventRefresh">
			<section class="row" id="home">
				<article class="subcontainer result service service-dark">
					<header>
						<h3 class="light-text">
							Organiser: <%= @events.organiser_name %> (<%= @events.organiser_email %>)<br />
						</h3>
						<h3 class="light-text">Restaurant: {{ selectedRestaurant }}</h3>
						<h3 class="light-text">Website: {{ selectedRestaurantUrl }}</h3>
						<h3 class="light-text">Date: {{ selectedDate }}</h3>
					</header>
				</article>
			</section>
			<section class="row lighter-background">
				<article class="col-md-12">
					<div class="service result">
						<i class="glyphicon glyphicon-cutlery service-icon"></i>
						<div class="desc">
							<h2 class="result-group">Restaurant</h2>
							<div class="bs-callout bs-callout-warning">
								<% (1..5).each do |i| %>
								<h4 class="result-group result-indiv">
									<%= @events.attributes['name'+"%01d" % i ] %>
								<div class="btn-float-right">
									<%= results_voteButton( 1, i, "link") %>
								   <%= results_voteButton(-1, i, "link") %>
									<button type="button" class="btn btn-default btn-sm" ng-click="selection('<%= @events.attributes['name'+"%01d" % i ] %>','<%= @events.attributes['link'+"%01d" % i ] %>', 'Restaurant')">Select
										<span id="SelectPlace<%= i %>" data-original-title="Select this place:" class="glyphicon glyphicon-check"></span>
									</button>
								</div>
								</h4>
								<% end %>
							</div>
						</div>
					</div>	
				</article>
			</section>
			<section class="row">
				<article class="col-md-12">
					<div class="service service-dark result">
						<i class="glyphicon glyphicon-calendar service-icon"></i>
						<div class="desc">
							<h2>Date and Time</h2>
							<div class="bs-callout bs-callout-warning">
								<% (1..3).each do |i| %>
								<h4 class="result-indiv">
								<%= @events.attributes['date'+"%01d" % i ] %>
								<div class="btn-float-right btn-dark-font">
								   <%= results_voteButton( 1, i, "date") %>
								   <%= results_voteButton(-1, i, "date") %>
								   <%= results_voteButton( 0, i, "date") %>
									<button type="button" class="btn btn-default btn-sm" ng-click="selection('<%= @events.attributes['date'+"%01d" % i ] %>','', 'Date')">Select
										<span id="SelectDate" data-original-title="Select this date:" class="glyphicon glyphicon-check"></span>
									</button>
								</div>
								</h4>
								<% end %>
							</div>
						</div>
					</div>	
				</article>
			</section>
			<section class="row lighter-background">
				<article class="col-md-12">
						<div class="service result" ng-init="results('<%= @events.id %>')">
							<i class="glyphicon glyphicon-ok service-icon"></i>
							<div class="desc">
							<h2>Event Summary</h2>
							<h3 class="result-group">Restaurant: {{ selectedRestaurant }}</h3>
							<h3 class="result-group">Website: {{ selectedRestaurantUrl }}</h3>
							<h3 class="result-group">Date: {{ selectedDate }}</h3>
							<h3 class="result-group">{{ email_status }}</h3>
								<button type="button" class="btn btn-default btn-float-right btn-m" ng-click="confirmation('<%= @events.id %>')">Confirm Event
									<span id="ConfirmEvent" class="glyphicon glyphicon-check"></span>
								</button>
							</div>
						</div>
				</article>
			</section>
			</main>