
			<main class="container" ng-controller='eventCtrl'>
			<div id="eventRefresh">
			<section class="row" id="home">
				<article class="subcontainer result ">
					<header>
						<h3>
							Organiser: <%= @events.organiser_name %> (<%= @events.organiser_email %>)<br />
						</h3>
					</header>
				</article>
			</section>
			<section class="row">
				<article class="col-md-12">
					<div class="service  service-dark result">
						<i class="glyphicon glyphicon-cutlery service-icon"></i>
						<div class="desc">
							<h2 class="result-group">Restaurant</h2>
							<div class="bs-callout bs-callout-warning">
								<% (1..5).each do |i| %>
								<h4 class="result-indiv">
									<%= @events.attributes['name'+"%01d" % i ] %>
								<div class="btn-float-right">
									<button type="button" id="linkbtnyes<%= i %>" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" class="btn btn-default btn-sm" data-content="None" data-original-title="Yes:">
									{{ link<%= i %>going }}
										<span class="glyphicon glyphicon-thumbs-up"></span>
									</button>
									<button type="button" id="linkbtnno<%= i %>" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" class="btn btn-default btn-sm" data-content="None" data-original-title="No:">
									{{ link<%= i %>notgoing }}
										<span class="glyphicon glyphicon-thumbs-down"></span>
									</button>
									<button type="button" class="btn btn-default btn-sm">Select
										<span id="SelectPlace<%= i %>" data-original-title="Select this place:" data-trigger="click" class="glyphicon glyphicon-check"></span>
									</button>
								</div>
								</h4>
								<% end %>
							</div>
						</div>
					</div>	
				</article>
			</section>
			<section class="row">
				<article class="col-md-12">
					<div class="service service-dark result">
						<i class="glyphicon glyphicon-calendar service-icon"></i>
						<div class="desc">
							<h2 class="result-group">Date and Time</h2>
							<div class="bs-callout bs-callout-warning">
								<% (1..3).each do |i| %>
								<h4 class="result-indiv">
								<%= @events.attributes['date'+"%01d" % i ] %>
								<div class="btn-float-right btn-dark-font">
									<button type="button" id="datebtnyes<%= i %>" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" class="btn btn-default btn-sm" data-content="None" data-original-title="Yes:">
									{{ date<%= i %>going }}
										<span class="glyphicon glyphicon-thumbs-up"></span>
									</button>
									<button type="button" id="datebtnno<%= i %>" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" class="btn btn-default btn-sm" data-content="None" data-original-title="No:">
									{{ date<%= i %>notgoing }}
										<span class="glyphicon glyphicon-thumbs-down"></span>
									</button>
									<button type="button" id="datebtnmaybe<%= i %>" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" class="btn btn-default btn-sm" data-content="None" data-original-title="Not sure:">
									{{ date<%= i %>maybe }}
										<span class="glyphicon glyphicon-thumbs-up"></span>
									</button>
									<button type="button" class="btn btn-default btn-sm">Select
										<span id="SelectDate" data-original-title="Select this date:" data-trigger="click" class="glyphicon glyphicon-check"></span>
									</button>
								</div>
								</h4>
								<% end %>
							</div>
						</div>
					</div>	
				</article>
			</section>
			<div class="service  service-dark result">
			{{ selectedRestaurant }}
			{{ selectedRestaurantUrl }}
			{{ SelectedDate }}
				<button type="button" class="btn btn-default btn-float-right btn-m" ng-click="test_resutl()">Confirm Event
					<span id="ConfirmEvent" class="glyphicon glyphicon-check"></span>
				</button>
			</div>
			</main>