
<main class="container">
	<div id="eventRefresh">

		<section class="row offset" id="home">
			<article class="subcontainer ">
				<article class="center-section">
					<header>
						<h3>
							Organiser: <%= @events.organiser_name %> (<%= @events.organiser_email %>)<br />
							Guest Email: <%= @votes.email %><br /><br />
								{{ voteResult_confirm }}
							<button type="button" class="btn btn-default btn-lrg" ng-click="vote_process(<%= @events.id %>,<%= @votes.id %>, 'confirmed', '', '1')"><span class="glyphicon glyphicon-thumbs-up"></span> Yes I am going?</button>
						</h3>
					</header>
				</article>
			</article>
		</section>

<section class="row offset lighter-background" id="where">
	<article class="subcontainer">
		<article class="center-section">
			<div class="service">
				<i class="glyphicon glyphicon-cutlery service-icon"></i>
				<div class="desc dynamic-height">
					<h2>Where?</h2>
					<% (1..5).each do |i| %>
						
					<div class="panel panel-default">
						<div class="panel-heading">
							{{ voteResult_where }}
							<%= @events.attributes['name'+"%01d" % i ] %>

							<div class="btn-group btn-float-left">
							  <%= voteButton(1, i, "link") %>
							  <%= voteButton(-1, i, "link") %>
							</div>

							<div class="panel-footer">
								<a href="<%= @events.attributes['link'+"%01d" % i ] %>"><%= @events.attributes['link'+"%01d" % i ] %></a>
							</div>
						</div>
					</div>

					<% end %>
				</div>
			</div>	
		</article>
	</article>
</section>


<section class="row offset" id="when">
	<article class="subcontainer">
		<article class="center-section">
			<div class="service service-dark">
				<i class="glyphicon glyphicon-cutlery service-icon"></i>
				<div class="desc dynamic-height">
					<h2>When?</h2>
					<% (1..3).each do |i| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							{{ voteResult_when }}
							<div class="btn-group" style="float: right">
							  <%= voteButton(1, i, "date") %>
							  <%= voteButton(0, i, "date") %>
							  <%= voteButton(-1, i, "date") %>
							</div>

							<div class="panel-footer">
								<%= @events.attributes['date'+"%01d" % i ] %>
							</div>
						</div>
					</div>
					<% end %>
					<input type="hidden" id="dtp_input4" value="" />
				</div>
			</div>	
		</article>
	</article>
</section>

		<section class="row" id="invite">
			<article class="subcontainer ">
				<div id="resultDivContainer"></div>
			</article>
		</section>
</div>
</main>