
<main class="container" ng-controller='eventCtrl'>
	<div id="eventRefresh">
		<section class="row" id="home">
			<article class="subcontainer ">
				<header>
					<br>
					<h3>
						Organiser: <%= @events.organiser_name %> (<%= @events.organiser_email %>)<br />
						Guest Email: <%= @votes.email %><br /><br />
							{{ voteResult_confirm }}
						<button type="button" class="btn btn-default btn-lrg" ng-click="vote_process(<%= @events.id %>,<%= @votes.id %>, 'confirmed', '', true)"><span class="glyphicon glyphicon-thumbs-up"></span> Yes I am going?</button>
					</h3>
				</header>
			</article>
		</section>
<section class="row" id="rest">
	<article class="subcontainer">
		<article class="col-md-6">
			<div class="service service-dark">
				<i class="glyphicon glyphicon-cutlery service-icon"></i>
				<div class="desc">
					<h2>Where?</h2>
					<% (1..5).each do |i| %>
						
					<div class="panel panel-default">
						<div class="panel-heading">
							{{ voteResult_where }}
							<%= @events.attributes['name'+"%01d" % i ] %>

							<div class="btn-group btn-float-left">
							  <button type="button" class="btn btn-default" ng-click="vote_process(<%= @events.id %>,<%= @votes.id %>, 'link<%= i %>', 1)">
							  	Yes <span class="glyphicon glyphicon-thumbs-up"></span>
							  </button>
							  <button type="button" class="btn btn-default" ng-click="vote_process(<%= @events.id %>,<%= @votes.id %>, 'link<%= i %>', -1)">
							  	No <span class="glyphicon glyphicon-thumbs-down"></span>
							  </button>
							</div>

							<div class="panel-footer">
								<a href="<%= @events.attributes['link'+"%01d" % i ] %>"><%= @events.attributes['link'+"%01d" % i ] %></a>
							</div>

						</div>
					</div>

					<% end %>

				</div>
			</div>	
		</article>
		<article class="col-md-6">
			<div class="service service-dark">
				<i class="glyphicon glyphicon-calendar service-icon"></i>
				<div class="desc">
					<h2>When?</h2>
					<% (1..3).each do |i| %>
					<div class="panel panel-default">
						<div class="panel-heading">
							{{ voteResult_when }}
							<div class="btn-group" style="float: right">
							  <button type="button" class="btn btn-default" ng-click="vote_process(<%= @events.id %>,<%= @votes.id %>, 'date<%= i %>', 1)">Yes <span class="glyphicon glyphicon-thumbs-up"></span></button>
							  <button type="button" class="btn btn-default" ng-click="vote_process(<%= @events.id %>,<%= @votes.id %>, 'date<%= i %>', -1)">No <span class="glyphicon glyphicon-thumbs-down"></span></button>
							  <button type="button" class="btn btn-default" ng-click="vote_process(<%= @events.id %>,<%= @votes.id %>, 'date<%= i %>', 0)">Maybe</button>
							</div>

							<div class="panel-footer">
								<%= @events.attributes['date'+"%01d" % i ] %>
							</div>

						</div>
					</div>
					<% end %>
					<input type="hidden" id="dtp_input4" value="" />
				</div>
				
			</div>	
		</article>
	</article>
</section>
</div>
</main>