<tr bgcolor="#D83C33">
	<td width="5%">&nbsp;</td>
	<td bgcolor="#FFFFFF" style="padding: 20px;">
		<h1>Hello, <%= @event.organiser_name %></h1>
		<p>
			Voting is done. Now let's party! <br/>
			Below are the details of the event:
		</p>
		<p>
			Where: <%= @event.name1 %>(<%= @event.link1 %>).<br/>
			When: <%= @event.date %>.<br/>
			Guests: 
			<% @users.each do |user| %>
				<%= user.email %><br/>
			<% end %>
		</p>
		<p>Have a crazy, fun night out!</p>
		<p>
			The Table For Eight Team<br/>
			Plan. Dine. Socialise.
		</p>
	</td>
	<td width="5%">&nbsp;</td>
</tr>