<!DOCTYPE html>
<html>
  <head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1>Hello, <%= @user.email %></h1>
	Event Organiser: <%= @event.organiser_name %>(<%= @event.organiser_name %>)<br/>
	<p>
	  Voting is done. Now let's party!<br/>
	</p>
	<p>
	  Where: <%= @event.name1 %>(<%= @event.link1 %>).<br/>
	</p>
	<p>
	  When: <%= @event.date %>.<br/><br />
	</p>
	<p>Have a crazy, fun night out<br /><br /></p>
	<p>The Table For Eight Team<br/></p>
	<p>Plan. Dine. Socialise.</p>
  </body>
</html>