<!DOCTYPE html>
<html>
  <head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1>Hello, <%= @user.email %></h1>
	<p>
	  Your friend <%= @event.organiser_name %> is planning a hangout. Help 'em decide when and where! Following this link to vote:<br />
	</p>
	<p>
	  <a href="http://localhost:3000/voting/<%= @event.id %>/<%= @user.id %>">http://localhost:3000/voting/<%= @event.id %>/<%= @user.id %></a>.
	</p>
	<p>
	  Voting ends on <%= @event.cutoff_at %>.
	</p>
	<p>
	  The Table For Eight Team<br />
	  Plan. Dine. Socialise.<br />
  </body>
</html>