<!DOCTYPE html>
<html>
  <head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1>Hello, <%= @user.email %></h1>
	<p>
	  I <%= @event.organiser_name %> planning a dinner out and I've listed down the possible restaurants and dates below. Do vote whichever you want best?<br/>
	</p>
	<p>
	  To vote goto the site, just follow this link: http://localhost:3000/voting/<%= @event.id %>/<%= @user.id %>.
	</p>
	<p>
	  Please do your voting before <%= @event.cutoff_at %>.
	</p>
	<p>Thanks for joining in and have a great day!</p>
  </body>
</html>