<label class="control-label spacingAround offset-text letterSpacingFonts"><%= label_title %></label>
<div class="input-group spacingAround" <%= raw("id=\"#{modelName}_container\"") %>>

<% span_class = nil unless (defined? span_class) %>
<% if span_class.present? %>
  <span class="input-group-addon glyphicon <%= raw("glyphicon-#{span_class}\"") %>></span>
<% end %>

<%
 fieldName = nil
 str = nil
 case modelName
  when "organiser_name"
    str = '<input type="text" required aria-required=”true”'
  when "organiser_email"
    str = '<input type="email" spellcheck="false" required aria-required=”true”'
  when "guest_list"
    str = '<textarea rows="6" cols="80" spellcheck="false" required aria-required=”true”'
    fieldName = "textarea"
end %>
<%= raw(str + "id=\"#{modelName}\"") %> class="form-control letterSpacingFonts"
<%= raw("placeholder=\"#{placeHolder}\" ng-model=\"#{modelName}\"") %><% if fieldName.present? %><%= raw( "></#{fieldName}>") %><% else %><%= raw(" />") %><% end %>
      
</div>

