
<main class="container" ng-controller='eventCtrl'>
	<div id="eventRefresh">

		<section class="row" id="home">
			<div class="img-background blur"></div>
			<article class="col-md-4 headerimg">
				<img class="img-responsive headerimg logo-padding" src="/assets/Table-For-Eight-logo.png">
				<header>
					<h1>Plan. Dine. Socialise.</h1>
				</header>
			</article>
		</section>

<!--		<section class="row" id="people">
			<article class="col-md-12">
				<br /><br /><br /><br />
			</article>
		</section>
-->

		<section class="row offset" id="what">
			<article class="subcontainer">
				<article class="col-md-12">
					<div class="service service-dark">
						<i class="glyphicon glyphicon-info-sign service-icon"></i>
						<div class="desc" id="dynamic-height">
							<h2>What?</h2>

							<h3>What is <span class="title-font">Table For Eight?</span></h3>
							<p>
							Table For Eight is an interactive app that helps you plan a night out. The app allows friends to get involved in the planning process by letting them vote when and where it will happen.
							</p>

							<p>
							Plan a night out in <span class="title-font">3</span> simple steps:

							<dl id="num-list">
								<dt>Who?</dt>
								<dd>Add your friends and have them vote which date and place they prefer.</dd>

								<dt>Where?</dt>
								<dd>List down up to five preferred restaurants.</dd>

								<dt>When?</dt>
								<dd>Select up to three dates.</dd>
							</dl>

							</p>
						</div>
					</div>	
				</article>
			</article>
		</section>





		<section class="row offset lighter-background" id="who">
			<article class="subcontainer">
				<div class="col-md-12 service">
					<i class="glyphicon glyphicon-list-alt service-icon"></i>
					<div class="desc" id="dynamic-height">
						<h2>Who?</h2>
						<label class="control-label spacingAround letterSpacingFonts">Name</label>
						<div class="input-group spacingAround">
							<span class="input-group-addon glyphicon glyphicon-user"></span>
							<input type="text" class="form-control letterSpacingFonts" placeholder="What's your name?" ng-model="organiser_name" />
						</div>
						<label class="control-label spacingAround letterSpacingFonts">Email</label>
						<div class="input-group spacingAround">
							<span class="input-group-addon glyphicon glyphicon-envelope"></span>
							<input type="text" class="form-control letterSpacingFonts" placeholder="What's your email?" ng-model="organiser_email" />
						</div>
						<label class="control-label spacingAround letterSpacingFonts" >Guest List</label>
						<div class="input-group spacingAround">
							<textarea class="form-control letterSpacingFonts" id="textarea" rows="6" placeholder="Enter your guest's emails" ng-model="guest_list" cols="50"></textarea>
						</div>
					</div>
				</div>	
			</article>
		</section>

		<section class="row offset" id="where">
			<article class="subcontainer">
				<article class="col-md-6">
					<div class="service service-dark">
						<i class="glyphicon glyphicon-cutlery service-icon"></i>
						<div class="desc" id="dynamic-height">
							<h2>Where?</h2>

							<% (1..5).each do |i| %>

								<label class="control-label spacingAround">{{ name<%= i %> }}</label>
								<div class="input-group spacingAround">
									<span class="input-group-addon glyphicon glyphicon-globe"></span>
							  		<input type="text" class="form-control letterSpacingFonts" placeholder="Restaurant URL" ng-model="restUrl<%= i %>" ng-change="fetch(restUrl<%= i %>, <%= i %>)"/>
								</div>
							<% end %>
						</div>
					</div>	
				</article>
				<article class="col-md-6">
					<div class="service service-dark">
						<i class="glyphicon glyphicon-calendar service-icon"></i>
						<div class="desc" id="dynamic-height">
							<h2>When?</h2>
							<% (1..3).each do |i| %>
								<div class="form-group">
									<label for="dtp_input<%= i %>" class="control-label">Date and Time <%= i %></label>
									<div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input<%= i %>">
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
										<input class="form-control" size="16" type="text" value="" ng-model="date<%= i %>">
										<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
									</div>
									<input type="hidden" id="dtp_input<%= i %>" value="" />
								</div>
							<% end %>
							<div class="form-group"><br /><br />
								<label for="dtp_input4" class="control-label">Due Date</label>
								<div class="input-group date form_datetime cusorhand" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input4">
									<span class="input-group-addon"><span class="glyphicon glyphicon-calendar cusorhand"></span></span>
									<input class="form-control" size="16" type="text" value="" ng-model="date4">
									<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								</div>
								<input type="hidden" id="dtp_input4" value="" />
							</div>
							<input type="hidden" id="dtp_input4" value="" />
						</div>
					</div>	
				</article>
			</article>
		</section>
		<section class="row offset lighter-background" id="invite">
			<article class="subcontainer">
				<div class="service">
					<i class="glyphicon glyphicon-envelope service-icon"></i>
					<div class="desc" id="dynamic-height">
						<h2>Invite!</h2>
						<p>{{ inviteResult }}</p>
						<div id="resultDivContainer"></div>
						<button type="button" class="btn btn-default btn-float-right" ng-click="sendInvite()">
							<span class="glyphicon glyphicon-envelope"></span>Invite
						</button>
					</div>
				</div>
			</article>
		</section>
	</div>
</main>
